<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('../_includes/_common.ejs') %> 
        <title>Tenkue App</title>
    </head>
</html>
    <body>
        <%- include('../_includes/_header') %>
        <main>
            <article class="p-room">
                <div class="p-room__fv">
                </div>
                <div class="p-room__wrap">
                    <h2 class="c-title">
                        ROOM
                    </h2>
                    <div class="p-room__inner">
                            <div class="p-room__box">
                                <div class="p-room__txt">
                                    <p class="p-room__num">
                                        01
                                    </p>
                                    <h3 class="p-room__subtitle">
                                        SWEET ROOM
                                    </h3>
                                    <P class="p-room__text">
                                        一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                        (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                                    </P>
                                </div>
                                <div class="p-room__img">
                                    <img src="../../asset/image/room_01.jpg" alt="">
                                </div>
                            </div>

                            <div class="p-room__box p-room__box-reverse">
                                <div class="p-room__txt">
                                    <p class="p-room__num">
                                        02
                                    </p>
                                    <h3 class="p-room__subtitle">
                                        DELUXE ROOM
                                    </h3>
                                    <P class="p-room__text">
                                        一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                        (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                                    </P>
                                </div>
                                <div class="p-room__img">
                                    <img src="../../asset/image/room_02.jpg" alt="">
                                </div>
                            </div>

                            <div class="p-room__box">
                                <div class="p-room__txt">
                                    <p class="p-room__num">
                                        03
                                    </p>
                                    <h3 class="p-room__subtitle">
                                        STANDARD ROOM
                                    </h3>
                                    <P class="p-room__text">
                                        一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                        (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                                    </P>
                                </div>
                                <div class="p-room__img">
                                    <img src="../../asset/image/room_03.jpg" alt="">
                                </div>
                            </div>
                    </div>

                    <div class="facilites">
                        <H2 class="c-title">
                            FACILITIES
                        </H2>
                        <div class="p-room__box">
                            <H3 class="p-room__subtitle">
                                館内設備
                            </H3>
                            <P class="p-room__text">
                                レストラン・自動販売機
                            </P>
                            <!-- <div class="p-facilites__img"> -->
                                <img class="p-facilites__img" src="../../asset/image/room_05.jpg" alt="">
                            <!-- </div> -->
                            <H3 class="p-room__subtitle">
                                部屋設備・備品
                            </H3>
                            <P class="p-room__text">
                                インターネット無線LAN（Wi-Fi）・ICカードセキュリティ・TV（43インチ以上）・冷蔵庫（空）・セーフティボックス・マイナスイオンドライヤー・加湿空気清浄機・電気ケトル・靴ベラ
                            </P>
                        </div>
                    </div>
                </div>
            </article>
                    
                </main>
                
                <%- include('../_includes/_footer.ejs') %>
                
            </body>
            </html>
            