<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('../_includes/_common.ejs') %> 
        <title>Tenkue Hotel</title>
    </head>
</html>
    <body>
        <%- include('../_includes/_header') %>
        <main>
            <article class="p-room">
                <div class="p-room-mv">
                </div>
                <div class="p-room-container">
                    <div class="room-cards">
                        <h2>ROOM</h2>
                            <div class="room-card">
                                <h3>01
                                    <br>
                                    SWEET ROOM
                                </h3>
                                <P>
                                    一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                    (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                                </P>
                                <img src="../../asset/image/room_01.jpg" alt="">
                            </div>
                            <div class="room-card">
                                <h3>
                                    02
                                    <br>
                                    DELUXE ROOM
                                </h3>
                                <P>
                                    一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                    (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                                </P>
                                <img src="../../asset/image/room_02.jpg" alt="">
                            </div>
                            <div class="room-card">
                                <h3>03
                                    <br>
                                    STANDARD ROOM
                                </h3>
                                <P>
                                    一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー
                                    (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
                                </P>
                                <img src="../../asset/image/room_03.jpg" alt="">
                            </div>
                    </div>
                    <div class="facilitys">
                        <H2>FACILITIES</H2>
                            <div class="room-card">
                                <H3>
                                    館内設備
                                </H3>
                                <P>
                                    レストラン・自動販売機
                                </P>
                                <H3>
                                    部屋設備・美品
                                </H3>
                                <P>
                                    インターネット無線LAN（Wi-Fi）・ICカードセキュリティ・TV（43インチ以上）・冷蔵庫（空）・セーフティボックス・マイナスイオンドライヤー・加湿空気清浄機・電気ケトル・靴ベラ
                                </P>
                                <img src="../../asset/image/room_05.jpg" alt="">
                            </div>
                    </div>
                </div>
            </article>
                    
                </main>
                
                <%- include('../_includes/_footer.ejs') %>
                
            </body>
            </html>
            