<header class="l-header" id="header">
    <div class="header-wrapper">
        <h1>
            <a class="header-logo" href="#">
                    <img src="../../asset/image/logo_header.svg" alt="hotel_logo"/>
            </a>
        </h1>
        <nav id="header-nav" class="">
            <ul class="menu-lists">
                <li class="header-nav-list"><a href="#">TOP</a></li>
                <li class="header-nav-list"><a href="../room/index">ROOM</a></li>
                <li class="header-nav-list"><a href="#">AREA GUIDE</a></li>
                <li class="header-nav-list"><a href="#">ACCESS</a></li>
                <li class="header-nav-list"><a href="#">CONTACT</a></li>
            </ul>
        </nav>
        <div class="u-tab" id="hamburgerMenu">
            <span class="hamburger-line line1"></span>
            <span class="hamburger-line line2"></span>
            <span class="hamburger-line line3"></span>
        </div>
        <div class="u-tab nav-toggle-menu">
            <div class="">
                <ul class="header-nav-lists">
                    <li class="header-nav-list"><a href="#">TOP</a></li>
                    <li class="header-nav-list"><a href="#">ROOM</a></li>
                    <li class="header-nav-list"><a href="#">AREA GUIDE</a></li>
                    <li class="header-nav-list"><a href="#">ACCESS</a></li>
                    <li class="header-nav-list"><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
