<header class="l-header" id="header">
    <div class="l-header__wrapper">
        <h1>
            <a class="l-header__logo" href="/">
                    <img src="../../asset/image/logo_header.svg" alt="hotel_logo"/>
            </a>
        </h1>
        <nav id="l-header__nav" class="">
            <ul class="l-menu__lists">
                <li class="l-header__nav__list"><a href="/">TOP</a></li>
                <li class="l-header__nav__list"><a href="/room/">ROOM</a></li>
                <li class="l-header__nav__list"><a href="/areaguide/">AREA GUIDE</a></li>
                <li class="l-header__nav__list"><a href="/access/">ACCESS</a></li>
                <li class="l-header__nav__list"><a href="/contact/">CONTACT</a></li>
            </ul>
        </nav>
        
        <div class="u-tab" id="hamburgerMenu">
            <span class="l-hamburger__line line1"></span>
            <span class="l-hamburger__line line2"></span>
            <span class="l-hamburger__line line3"></span>
        </div>
        <div class="u-tab l-nav__toggle__menu">
            <div class="u-tab l-nav__container">
                <ul class="l-header-nav__lists">
                    <li class="l-header-nav__list"><a href="/">TOP</a></li>
                    <li class="l-header-nav__list"><a href="/room/">ROOM</a></li>
                    <li class="l-header-nav__list"><a href="/areaguide/">AREA GUIDE</a></li>
                    <li class="l-header-nav__list"><a href="/access/">ACCESS</a></li>
                    <li class="l-header-nav__list"><a href="/contact/">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
