.p-room {
    margin-top: 80px;
    padding-bottom: 75px;
    @include tab-layout {
        padding-bottom: 80px;
    }
    @include pc-layout {
        padding-bottom: 150px;
    }
    .p-room__fv {
        background-image: url(../../../../asset/image/room_04.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        width: 100%;
    }

    .p-room__wrap .c-title,
    .p-facilites .c-title {
        font-size: 6vw;
        margin: 0 auto;
        margin-bottom: 40px;
        position: relative;
        text-align: center;
        @include tab-layout {
            font-size: 3vw;
            line-height: 46px;
            letter-spacing: 2px;
            margin-bottom: 50px;
        }
        @include pc-layout {
            font-size: 24px;
            line-height: 46px;
            letter-spacing: 2px;
            margin-bottom: 60px;
        }
        &::after {
            background-color: #00478b;
            border-radius: 1px;
            bottom: -7px;
            content: '';
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 40px;
        }
    }

    .p-room__wrap {
        // background-color: blue;
        padding: 0px 5%;
        @include tab-layout {
            padding: 0 3%;
        }
        @include pc-layout {
            box-sizing: content-box;
            max-width: 1024px;
            margin: 0 auto;
            padding: 77px 2.4%;
        }

        .p-room__inner {
            width: 100%;
            // background-color: green;
            .p-room__container {
                background-color: yellowgreen;
                display: flex;
                margin-bottom: 3.5rem;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                @include tab-layout {
                    display: flex;
                    flex-direction: row;
                }
                @include pc-layout {
                    margin-bottom: 112px;
                    flex-direction: row;
                }
                .p-room__txt {
                    background-color: tomato;
                    width: 100%;
                    @include tab-layout {
                        width: 47.5%;
                    }
                    @include pc-layout {
                        width: 47.5%;
                    }
                    .p-room__num {
                        @include tab-layout{
                            font-size: 4vw;
                            font-weight: bold;
                            letter-spacing: 3px;
                            line-height: 64px;
                            margin: 16px 0 8px;
                            margin-bottom: 8px;
                        }
                        @include pc-layout {
                            font-size: 32px;
                            line-height: 64px;
                            font-weight: bold;
                            letter-spacing: 3px;
                            margin: 16px 0 8px;
                            margin-bottom: 8px;
                        }
                    }
                    .p-room__subtitle {
                        @include pc-layout {
                            font-size: 24px;
                            line-height: 48px;
                            margin-bottom: 16px;
                        }
                    }
                    p {
                        font-size: 22px;
                        line-height: 44px;
                        @include pc-layout {
                            font-size: 16px;
                            line-height: 32px;
                        }
                    }
                }
                .p-room__img {
                    width: 100%;
                    @include pc-layout {
                        width: 47.5%;
                    }
                }

                &.p-room__container-reverse {
                    @include tab-layout {
                        flex-direction: row-reverse;
                    }
                    @include pc-layout {
                        flex-direction: row-reverse;
                    }
                }
            }
        }
        .facilites {
            .p-room__container {
                .p-room__subtitle {
                    @include tab-layout {
                        font-size: 3vw;
                        margin-bottom: 18px;
                    }
                    @include pc-layout {
                        font-size: 24px;
                        margin-bottom: 1rem;
                    }
                }
                .p-room__text {
                    font-size: 4vw;
                    @include tab-layout {
                        font-size: 2vw;
                        margin-bottom: 18px;
                    }
                    @include pc-layout {
                        font-size: 16px;
                        margin-bottom: 1rem;
                    }
                }
                .p-facilites__img {
                    width: 100%;
                    height: auto;
                    margin-bottom: 25px;
                    @include tab-layout {
                        width: 50%;
                        margin-bottom: 50px;
                    }
                    @include pc-layout {
                        width: 50%;
                        margin-bottom: 50px;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
