.p-room {
    margin-top: 80px;
    @include sp-layout {
        padding-bottom: 75px;
    }
    @include tab-layout {
        padding-bottom: 80px;
    }
    @include pc-layout {
        padding-bottom: 150px;
    }

    .p-room__fv {
        background-image: url(../../../../asset/image/room_04.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        width: 100%;
    }

    .p-room__wrap .c-title,
    .p-facilites .c-title {
        margin: 0 auto;
        position: relative;
        text-align: center;
        @include sp-layout {
            font-size: 6vw;
            line-height: 12vw;
            margin-bottom: 40px;
        }
        @include tab-layout {
            font-size: 3vw;
            line-height: 6vw;
            letter-spacing: 2px;
            margin-bottom: 50px;
        }

        @include pc-layout {
            font-size: 24px;
            line-height: 46px;
            letter-spacing: 2px;
            margin-bottom: 60px;
        }
        &::after {
            background-color: $color-primary;
            border-radius: 1px;
            bottom: -5px;
            content: '';
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 40px;
        }
    }

    .p-room__wrap {
        @include sp-layout {
            padding: 50px 5% 0;
        }
        @include tab-layout {
            padding: 75px 3% 0;
        }
        @include pc-layout {
            box-sizing: content-box;
            max-width: 1024px;
            margin: 0 auto;
            padding: 77px 2.4%;
        }

        .p-room__inner {
            width: 100%;
            .p-room__box {
                margin-bottom: 3.5rem;
                width: 100%;
                @include sp-layout {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    margin-bottom: 56px;
                }
                @include tab-layout {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 104px;
                }
                @include pc-layout {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 112px;
                }
                .p-room__txt {
                    @include sp-layout {
                        width: 100%;
                    }
                    @include tab-layout {
                        width: 47.5%;
                    }
                    @include pc-layout {
                        width: 47.5%;
                    }
                    .p-room__num {
                        @include sp-layout {
                            font-size: 8vw;
                            font-weight: bold;
                            letter-spacing: 4px;
                            line-height: 16vw;
                            margin-bottom: 8px;
                        }
                        @include tab-layout {
                            font-size: 4vw;
                            font-weight: bold;
                            letter-spacing: 3px;
                            line-height: 8vw;
                            margin-bottom: 8px;
                        }
                        @include pc-layout {
                            font-size: 32px;
                            font-weight: bold;
                            letter-spacing: 3px;
                            line-height: 64px;
                            margin: 18px 0 8px;
                        }
                    }
                    .p-room__subtitle {
                        @include sp-layout {
                            font-size: 6vw;
                            margin-bottom: 16px;
                        }
                        @include tab-layout {
                            font-size: 3vw;
                            margin-bottom: 16px;
                        }
                        @include pc-layout {
                            font-size: 24px;
                            line-height: 48px;
                            margin-bottom: 16px;
                        }
                    }
                    .p-room__text {
                        @include sp-layout {
                            font-size: 4vw;
                            line-height: 8vw;
                            margin-bottom: 16px;
                        }
                        @include tab-layout {
                            font-size: 2vw;
                            line-height: 4vw;
                        }
                        @include pc-layout {
                            font-size: 16px;
                            line-height: 32px;
                        }
                    }
                }
                .p-room__img {
                    @include sp-layout {
                        width: 100%;
                    }
                    @include tab-layout {
                        align-items: center;
                        display: flex;
                        width: 47.5%;
                    }
                    @include pc-layout {
                        width: 47.5%;
                    }
                }

                &.p-room__box-reverse {
                    @include sp-layout {
                        flex-direction: column;
                    }
                    @include tab-layout {
                        flex-direction: row-reverse;
                    }
                    @include pc-layout {
                        flex-direction: row-reverse;
                    }
                }
            }
        }
        .facilites {
            .p-room__box {
                .p-room__subtitle {
                    @include sp-layout {
                        font-size: 6vw;
                        margin-bottom: 16px;
                    }
                    @include tab-layout {
                        font-size: 3vw;
                        margin-bottom: 18px;
                    }
                    @include pc-layout {
                        font-size: 24px;
                        margin-bottom: 1rem;
                    }
                }
                .p-room__text {
                    @include sp-layout {
                        font-size: 4vw;
                        margin-bottom: 16px;
                    }
                    @include tab-layout {
                        font-size: 2vw;
                        margin-bottom: 18px;
                    }
                    @include pc-layout {
                        font-size: 16px;
                        margin-bottom: 1rem;
                    }
                }
                .p-facilites__img {
                    @include sp-layout {
                        margin-bottom: 25px;
                        width: 100%;
                    }
                    @include tab-layout {
                        margin-bottom: 50px;
                        width: 50%;
                    }
                    @include pc-layout {
                        margin-bottom: 50px;
                        width: 50%;
                    }
                }
            }
        }
    }
}
