.l-header {
    background-color: #fff;
    box-shadow: 3px 3px #f7f7f7;
    height: 80px;
    left: 0;
    letter-spacing: 1.55px;
    padding: 10px 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    .l-header__wrapper {
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: space-between;
        position: relative;
        .l-header__logo {
            display: block;
            height: 25px;
            margin: 18px 0;
            width: 246px;
        }
        #l-header__nav {
            @include tab-layout {
                display: none;
            }
            .l-menu__lists {
                display: flex;
                margin: 8px 0;
            }
            .l-header__nav__list {
                margin-left: 30px;
                padding: 3px 16px 3px 16px;
                &:hover {
                    background-color: #eee;
                    transition: 0.5s;
                }
            }
            .l-header__nav__list a {
                color: $color-default;
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                height: 36px;
                line-height: 38px;
                text-decoration: none;
            }
        }
        #hamburgerMenu {
            @include pc-layout {
                display: none;
            }
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 48px;
            position: relative;
            width: 48px;
            z-index: 1000;

            .l-hamburger__line {
                background-color: $color-default;
                height: 2px;
                position: absolute;
                transform: translateY(-50%);
                transition: all 0.3s ease-in-out;
                &.is-clicked {
                    background-color: #fff;
                }
            }
            .line1 {
                top: 33%;
                right: 25%;
                width: 25px;
                &.is-clicked {
                    right: 30%;
                    top: 50%;
                    transform: rotate(45deg);
                    width: 20px;
                }
            }
            .line2 {
                width: 20px;
                right: 25%;
                top: 50%;
                &.is-clicked {
                    opacity: 0;
                }
            }
            .line3 {
                width: 15px;
                right: 25%;
                top: 66%;
                &.is-clicked {
                    transform: rotate(-45deg);
                    width: 20px;
                    top: 50%;
                    right: 30%;
                }
            }
        }

        .l-nav__toggle__menu {
            @include pc-layout {
                display: none;
            }
            background-color: $color-default;
            display: none;
            height: 100vh;
            left: 0;
            position: fixed;
            top: 0;
            transition: all 0.5s ease-in-out;
            width: 100%;
            z-index: 100;
            visibility: hidden;
            &.is-clicked {
                display: block;
                visibility: visible;
                transition: 0.5s;
                @include pc-layout {
                    display: none;
                }
            }
            .l-nav__container {
                height: 100%;
                position: relative;
                width: 100%;
                .l-header-nav__lists {
                    left: 50%;
                    position: absolute;
                    top: 40%;
                    transform: translate(-50%, -50%);
                    .l-header-nav__list {
                        color: $color-light;
                        list-style: none;
                        margin-bottom: 1.6rem;
                        opacity: 0;
                        text-align: center;
                        width: 30vw;
                        @include tab-layout {
                            width: 20vw;
                        }
                        &:hover {
                            background-color: rgba(150, 150, 150, 0.2);

                            transition: 0.6s;
                        }
                        &:first-child {
                            animation: fade 0.5s ease-in-out 0.4s 1 normal forwards;
                        }
                        &:nth-child(2) {
                            animation: fade 0.5s ease-in-out 0.5s 1 normal forwards;
                        }
                        &:nth-child(3) {
                            animation: fade 0.5s ease-in-out 0.6s 1 normal forwards;
                        }
                        &:nth-child(4) {
                            animation: fade 0.5s ease-in-out 0.7s 1 normal forwards;
                        }
                        &:nth-child(5) {
                            animation: fade 0.5s ease-in-out 0.8s 1 normal forwards;
                            // transition-delay: 0.8s;
                        }
                        a {
                            color: $color-light;
                            line-height: 2;
                            font-weight: 400;
                            font-style: normal;
                            @include tab-layout {
                                font-size: 2vw;
                            }
                        }
                    }
                    @keyframes fade {
                        0% {
                            transform: rotateY(-70deg) translateY(100px);
                            opacity: 0;
                        }
                        100% {
                            transform: rotateY(0deg) translateY(0px);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
